<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>Admin</h1>
        </div>
        <ul>
            <a href="/Dashboard"><li>Dashboard</li></a>
            <a href="/Usermanagement"><li>User Management</li></a>
            <a href="/Foodmanagement"><li>Food Management</li></a>
            <a href="/Ordermanagement"><li>Orders Management</li></a>
        </ul>
    </div>
    <div class="main-content">
        <header>
            <h1><label for="">
                    <h2 class="University_Of_Engineering">Dashboard</h2>
                    <h3 class="University_Of_Engineering">UEM Canteen Management</h3>
                </label>
            </h1>
        </header>
        <div class="content">
            <header class="canteen-name">
                <h3>Chinese Canteen</h3>
            </header>
        </div>
        <div class="content">
            <div class="cards">
                    <div class="box">
                        <div class="area">
                            <span>Total user :</span>
                            <span>50</span>
                        </div>
                       
                    </div>
                    <div class="box">
                        <div class="area">
                            <span>Pending Orders :</span>
                            <span>10</span>
                        </div>
                    </div>
                    <div class="box">
                        <div class="area">
                            <span>Food Items :</span>
                            <span>50</span>
                        </div>
                    </div>
            </div>
        </div>
        <div class="content-2">
            <div class="Menu-Items">
                <div class="title">
                    <h2>Menu Items</h2>
                </div>
                <table>
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Avalability</th>
                    </tr>
                    <tr>
                        <td>Bread Pakoda</td>
                        <td>₹ 40</td>
                        <td><a href="#" class="btn">AVL</a></td>
                    </tr>
                    <tr>
                        <td>Jam Bread</td>
                        <td>₹ 50</td>
                        <td><a href="#" class="btn">AVL</a></td>
                    </tr>
                    <tr>
                        <td>Chilly Chicken</td>
                        <td>₹ 150</td>
                        <td><a href="#" class="btn">AVL</a></td>
                    </tr>
                    <tr>
                        <td>Egg Rice</td>
                        <td>₹ 45</td>
                        <td><a href="#" class="btn">AVL</a></td>
                    </tr>
                    <tr>
                        <td>Tripple Rice</td>
                        <td>₹ 120</td>
                        <td><a href="#" class="btn">AVL</a></td>
                    </tr>
                </table>
            </div>
        </div>

</body>


<body>

</body>

</html>