<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteen Management System of University of Engineering and Management</title>
    <link rel="stylesheet" href="./CSS/index.css">
</head>

<body>
    <!-- Navigation -->
    <nav>
        <div class="navigation">
            <div class="navobj nav_logo">
                <img src="./Assets/logo.png" alt="logo">
            </div>
            <div class="navobj" style="display: flex; justify-content: flex-end; align-items: center;"><a href="/Registration">Register</a></div>
            <div class="navobj" style="display: flex; justify-content: center; align-items: center;"><a href="/About">About Us</a></div>
        </div>
    </nav>

    <!-- Main area -->
    <div class="overlay">
        <section class="main_page">

            <div class="loginoption">

                <div class="loginsection">
                    <p>welcome to</p>
                    <h1>University of Engineering and Management</h1>
                    <h3>Online Canteen Portal</h3>
                </div>

                <div id="loginsection2">
                    <a href="/Student-login" class="loginopt" id="studlogin"><span>Student Login</span></a>
                    <a href="/Admin-login" class="loginopt" id="adminlogin"><span>Admin Login</span></a>
                </div>

            </div>

            <aside class="important_notice">
               

                <div id="noicehead" style="text-align: center;">Notice</div>
                <hr style="width: 90%; margin-left: auto; margin-right: auto;">
                <div id="notice_container">
                    <ul>
                        <li>Chinese Canteen timing 10:00am to 9:30pm</li>
                        <li>Night Canteen 06:00pm to 02:00am</li>
                        <li>Bengali Canteen 08:00am to 09:00 pm</li>
                        <li>Get Extra 5% off using Amazon Pay</li>
                        <li>Get a burger and french fries are free</li>
                        <li>20% of on beverages</li>
                        <li>Offer on Dal Roti</li>
                    </ul>
                </div>
            </aside>

        </section>
    </div>

</body>

</html>