<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/usermanagement.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>Admin</h1>
        </div>
        <ul>
            <a href="/Dashboard"><li>Dashboard</li></a>
            <a href="/Usermanagement"><li>User Management</li></a>
            <a href="/Foodmanagement"><li>Food Management</li></a>
            <a href="/Ordermanagement"><li>Orders Management</li></a>
        </ul>
    </div>
    <div class="main-content">
        <header>
            <h1><label for="">
                    <h2 class="University_Of_Engineering">Order Management</h2>
                </label>
            </h1>
        </header>
        <div class="content">
            <header class="canteen-name">
                <h3>Chinese Canteen</h3>
            </header>
        </div>
        <div class="content-2">
            <div class="Menu-Items">
                <div class="title">
                    <h2>Orders</h2>
                </div>
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Items name</th>
                        <th>Tokens</th>
                        <th>User Name</th>
                        <th>Price</th>
                        <th>Order Time</th>
                        <th>Quantity</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>(1)</td>
                        <td>Bread Pakoda</td>
                        <td>20375</td>
                        <td>Souvik Banerjee</td>
                        <td>₹ 80</td>
                        <td>04:20</td>
                        <td>02</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(2)</td>
                        <td>Jam Bread</td>
                        <td>20377</td>
                        <td>Ashutosh Utkarsh</td>
                        <td>₹ 60</td>
                        <td>04:30</td>
                        <td>03</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(3)</td>
                        <td>Chilly Chicken</td>
                        <td>20780</td>
                        <td>Arghya Banerjee</td>
                        <td>₹ 150</td>
                        <td>05:00</td>
                        <td>01</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(4)</td>
                        <td>Egg Rice</td>
                        <td>20781</td>
                        <td>Soujannya Maiti</td>
                        <td>₹ 45</td>
                        <td>05:15</td>
                        <td>01</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(5)</td>
                        <td>Tripple Rice</td>
                        <td>20880</td>
                        <td>Debkalpa Sarkar</td>
                        <td>₹ 120</td>
                        <td>06:00</td>
                        <td>01</td>
                        <td><button class="del">X</button></td>
                    </tr>
                </table>
            </div>
        </div>

</body>


<body>

</body>

</html>