<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place your order...</title>
    <link rel="stylesheet" href="./CSS/colorVariables.css">
</head>

<body>
    <style>
        nav{
        position: relative;
        box-shadow: 0px 2px 20px rgb(0 0 0 / 30%);
        background-color: white;
    }

    body{
        background-color: var(--background-color);
    }
    
    .nevigation{
        display: grid;
        grid-template-columns: 5fr 5fr;
        height: 10vh;
        width: 100%;
    
    }

    .nevigation>a{
        margin: auto;
    }
    
    .navgrids{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #orderdetails{
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        padding: 20px;
        width: 40%;
    }
    .ordersec{
        display: flex;
        justify-content: space-around;
    }

    #paymentGateway{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        margin: 10px;
        box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
        width: 30%;
    }  
    #paymentGateway>a{
        width: 70%;
        height: 30px;
        background-color: var(--primary-color);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: medium;
        font-weight: 600;
    } 
    
    .adjstbtns{
        margin: 2px;
        cursor: pointer;
    }
    </style>



    <nav>
        <div class="nevigation">
            <a href="./main.html" style=" font-family: 'Mochiy Pop One', sans-serif; color: var(--primary-color); font-size: 1.5rem;">UEM
                    Canteen System</a>

            <a href="">Arghya Banerjee</a>
        </div> 
    </nav>

    <main style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div style="margin: 20px; font-size: 2rem; font-weight: 600;" class="plcorderhead">Place your Order</div>
        <section id="orderdetails">
            <!-- Heading area -->
            <div class="ordersec">
                <h3>Items</h3>
                <h3>Qnt</h3>
                <h3>Price</h3>
            </div>
            <hr style="margin: 10px;">

            <!-- Items area -->
            <div class="ordersec">
                <h3>Food</h2>
                <p>x</p>
                <h4>2</h4>
                <div class="adjustbtndiv">
                    <span class="adjstbtns">+</span><span class="adjstbtns">-</span>
                </div>
                <p>:</p>
                <h3>120.0</h3>
            </div>

            <div class="ordersec">
                <h3>Food</h2>
                <p>x</p>
                <h4>2</h4>
                <div>
                    <span class="adjstbtns">+</span><span class="adjstbtns">-</span>
                </div>
                <p>:</p>
                <h3>120.0</h3>
            </div>

            <!-- Total area -->
            <hr style="margin: 10px;">
            <div class="ordersec">
                <h3>Total :</h3>
                <h3>240.0</h3>
            </div>
        </section>

        <section id="paymentGateway">
            <form action="">
                <input type="radio" value="Cash" required>
                <label for="html">Pay on delivery</label>
            </form>
            <a href="/reciept"><span style="color: white;">Place Order</span></a>
        </section>
    </main>

</body>
</html>