<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/usermanagement.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>Admin</h1>
        </div>
        <ul>
            <a href="/Dashboard"><li>Dashboard</li></a>
            <a href="/Usermanagement"><li>User Management</li></a>
            <a href="/Foodmanagement"><li>Food Management</li></a>
            <a href="/Ordermanagement"><li>Orders Management</li></a>
        </ul>
    </div>
    <div class="main-content">
        <header>
            <h1><label for="">
                    <h2 class="University_Of_Engineering">User Management</h2>
                </label>
            </h1>
        </header>
        <div class="content">
            <header class="canteen-name">
                <h3>Chinese Canteen</h3>
            </header>
        </div>
        <div class="content-2">
            <div class="Menu-Items">
                <div class="title">
                    <h2>Users</h2>
                </div>
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Enroll.no</th>
                        <th>Contact.no</th>
                        <th>Email.id</th>
                        <th>Block Name</th>
                        <th>Room</th>
                        <th>Delete User</th>
                    </tr>
                    <tr>
                        <td>(1)</td>
                        <td>Souvik Banerjee</td>
                        <td>22020002001005</td>
                        <td>8305674315</td>
                        <td>souvik.309@gmail.com</td>
                        <td>Puj House</td>
                        <td>212</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(2)</td>
                        <td>Ashutosh Utkarsh</td>
                        <td>22020002001001</td>
                        <td>8307741221</td>
                        <td>ashutoshu@gmail.com</td>
                        <td>Puj House</td>
                        <td>206</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(3)</td>
                        <td>Arghya Banerjee</td>
                        <td>22020002001004</td>
                        <td>766861729</td>
                        <td>arghuya@gmail.com</td>
                        <td>Up House</td>
                        <td>209</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(4)</td>
                        <td>Soujannya Maiti</td>
                        <td>1020002001001</td>
                        <td>9893121446</td>
                        <td>ommxyz@gmail.com</td>
                        <td>Raj House</td>
                        <td>210</td>
                        <td><button class="del">X</button></td>
                    </tr>
                    <tr>
                        <td>(5)</td>
                        <td>Debkalpa Sarkar</td>
                        <td>12020002001004</td>
                        <td>7663121345</td>
                        <td>debsakar@gmail.com</td>
                        <td>Puj House</td>
                        <td>206</td>
                        <td><button class="del">X</button></td>
                    </tr>
                </table>
            </div>
        </div>

</body>


<body>

</body>

</html>